body {
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-family: "Times New Roman", "Helvetica", "Arial";
  font-size:18px;
  color:rgb(88, 88, 88);
  padding:0 10px;
  background-color: rgb(255, 253, 248);
}

footer {
  margin: 40px auto;
}


h1,h2,h3{
  position: relative;
  line-height:1.2;
  text-align: center;
  margin: 15px auto;
}

a {
  color:rgb(128, 94, 94);
}

a:hover {
  color:rgb(168, 99, 99);
}

.icon-container {
  display: flex;
  margin: auto;
  /* width: 150px; */
  min-width: 200px;
  width: 30%;
  padding-bottom: 20px;
  justify-content: space-around;
}

.icon-item {
  margin: auto;
}

.chinese-font {
  font-family: "Hiragino Sans GB","Times New Roman","Arial";
}